<!DOCTYPE html>
<html lang="en">
<head>
    <title>Add Post</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<h1>Add your new blog post here</h1>
<form action="{{ url_for('add') }}" method="POST" autocomplete="off" spellcheck="true">
    <label for="author">Author:</label>
    <input type="text" id="author" name="author" required>
    <br><br>

    <label for="title">Title:</label>
    <input type="text" id="title" name="title" required>
    <br><br>

    <label for="content">Content:</label>
    <textarea id="content" name="content" rows="6" cols="50" required></textarea>
    <br><br>

    <input type="submit" value="Submit">
</form>
</body>
</html>